@model Generics.DataModels.AdminModels.ProjectPlatforms
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Project Platforms</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.ProjectPlatformsDictionary)
    @ButtonHelper.EditSmall("/ProjectPlatforms/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/ProjectPlatforms/Index")
</div>