@model Generics.DataModels.AdminModels.ProjectPlatforms
@{
    ViewData["Title"] = "Detail";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Project Platforms</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.ProjectPlatformDictionary)
    @ButtonHelper.EditSmall("/ProjectPlatform/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/ProjectPlatform/Index")
</div>