@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between">
                    <div class="col-md-12">
                        <h5>Over All</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Total</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between">
                    <div class="col-md-12">
                        <h5>Current Week</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Total</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between">
                    <div class="col-md-12">
                        <h5>Current Month</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Total</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between">
                    <div>
                        <h5>Today</h5>
                        <span>Resolve</span>
                    </div>
                    <div class="sparkline" data-type="bar" data-width="97%" data-height="55px" data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#04BE5B">7,5,3,8,4,6,2,9</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card project_list">
                <div class="table-responsive">
                    <table class="table table-hover c_table">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Platforms</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Ecommerce</strong></td>
                                <td>
                                    <i class="zmdi zmdi-whatsapp" onclick="showsweetalert('https://octacer.com/')"></i>
                                    <a><i class="zmdi zmdi-twitter" onclick="showForm()"></i></a>

                                    <a><i class="zmdi zmdi-facebook"></i></a>

                                    <a><i class="zmdi zmdi-youtube-play"></i></a>

                                    <a><i class="zmdi zmdi-instagram"></i></a>
                                </td>
                                <td>10:25:30 am</td>
                                <td><span class="badge badge-warning">In Progress</span></td>
                                <td><span><i class="zmdi zmdi-plus btn-sm btn btn-success" data-toggle="modal" data-target="#smallModal"></i></span></td>
                            </tr>
                            <tr>
                                <td><strong>Ecommerce</strong></td>
                                <td>
                                    <i class="zmdi zmdi-whatsapp" onclick="showsweetalert('https://octacer.com/')"></i>
                                    <a><i class="zmdi zmdi-twitter" onclick="showForm()"></i></a>

                                    <a><i class="zmdi zmdi-facebook"></i></a>

                                    <a><i class="zmdi zmdi-youtube-play"></i></a>

                                    <a><i class="zmdi zmdi-instagram"></i></a>
                                </td>
                                <td>10:25:30 am</td>
                                <td><span class="badge badge-warning">In Progress</span></td>
                                <td><span><i class="zmdi zmdi-plus btn-sm btn btn-success" data-toggle="modal" data-target="#smallModal"></i></span></td>
                            </tr>
                            <tr>
                                <td><strong>Ecommerce</strong></td>
                                <td>
                                    <i class="zmdi zmdi-whatsapp" onclick="showsweetalert('https://octacer.com/')"></i>
                                    <a><i class="zmdi zmdi-twitter" onclick="showForm()"></i></a>

                                    <a><i class="zmdi zmdi-facebook"></i></a>

                                    <a><i class="zmdi zmdi-youtube-play"></i></a>

                                    <a><i class="zmdi zmdi-instagram"></i></a>
                                </td>
                                <td>10:25:30 am</td>
                                <td><span class="badge badge-warning">In Progress</span></td>
                                <td><span><i class="zmdi zmdi-plus btn-sm btn btn-success" data-toggle="modal" data-target="#smallModal"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="title" id="smallModalLabel">Paltforms</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input id="checkbox" type="checkbox">
                                            <label for="checkbox">Platforms</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox">Platforms</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input id="checkbox2" type="checkbox">
                                            <label for="checkbox">Platforms</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox">Platforms</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info btn-round waves-effect">Updates</button>
                                    <button type="button" class="btn btn-default btn-round waves-effect" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination pagination-primary mt-4">
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

