@model Generics.DataModels.AdminModels.Mobile
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Mobile</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.MobileDictionary)
    @ButtonHelper.EditSmall("/Mobile/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/Mobile/Index")
</div>