.btnspan {
    color: white !important;
    padding-right: 15px;
}
.fontXLarge {
    font-size:large !important;
}
.fontLarge {
    font-size: large !important;
}
.iconsize{
    font-size:1.3em;
}
.badgestyle {
    position: relative;
    right: -1em;
    top: -0.6em;
}
.unsetmargin{
    margin:unset !important;
}
.flexendalign {
    align-self: flex-end;
}
.imagesize {
    width: 50px;
    height: auto;
    contain:paint;
}
.tiles {
    zoom: 66%;
    text-align: center;
    /*flex: 0 0 20% !important;
    max-width: 0% !important;*/
}
@media only screen and (max-width: 600px) {
    .tiles{
        width:50%;
    }
}
@media (min-width: 768px) {
    .mycard .col-md-2 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}