@model AspNetUserRoles
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User Roles</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.AspNetUserRolesDictionary)
    @ButtonHelper.DeleteSmall("/UserRoles/ConfirmDelete/" + Model.UserId)
    @ButtonHelper.BackToListSmall("/UserRoles/Index")
</div>