@model Generics.DataModels.AdminModels.ProjectAlertMessage
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Project Alert Message</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.ProjectAlertMessageDictionary)
    @ButtonHelper.EditSmall("/ProjectAlertMessage/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/ProjectAlertMessage/Index")
</div>