@model Generics.DataModels.AdminModels.ProjectNotes
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Project Notes</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.ProjectNotesDictionary)
    @ButtonHelper.EditSmall("/ProjectNotes/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/ProjectNotes/Index")
</div>