@model IEnumerable<Generics.DataModels.AdminModels.Platforms>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12">

        <div class="card">
            <div class="header">
                <a href="/Platform/Create" class="btn btn-raised btn-success btn-round waves-effect">Add</a>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right slideUp">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                        </ul>
                    </li>
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Icon</th>
                                <th>Name</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Icon</th>
                                <th>Name</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.IconUrl</td>
                                <td>@item.PlatformName</td>
                                <td>@item.OnCreated.Date</td>
                                <td>@item.IsActive</td>
                                <td>
                                    <a href="/Platform/Create/@item.PlatformId" class="btn btn-raised btn-warning btn-round waves-effect">Edit</a>
                                    <a href="/Platform/Detail/@item.PlatformId" class="btn btn-raised btn-info btn-round waves-effect">Detail</a>
                                    <a href="/Platform/Delete/@item.PlatformId" class="btn btn-raised btn-danger btn-round waves-effect">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

