@model IEnumerable<Generics.DataModels.AdminModels.Platform>
@{
    ViewData["Title"] = "Platforms";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/Platform/Create";
}

    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        @CHtmlHelper.TableHead("th", "Name", "Icon")
        @CHtmlHelper.TableFoot("th", "Name", "Icon")
        <tbody>
            @foreach (var item in Model)
            {
                @CHtmlHelper.Tr("td", item.Name, $"<i class='{item.IconClass}'></i>")
            }
        </tbody>
    </table>


