@{
    Layout = "_BaseLayout";
}
<!-- Page Loader -->
<partial name="LayoutPartials/_PageLoader.cshtml" />
<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<!-- Main Search -->
<partial name="LayoutPartials/_MainSearch.cshtml" />

<!-- Right Icon menu Sidebar -->
<partial name="LayoutPartials/_RightIconMenuSidebar.cshtml" />

<!-- Left Sidebar -->
<partial name="LayoutPartials/_LeftSidebar.cshtml" />

<!-- Right Sidebar -->
<partial name="LayoutPartials/_RightSidebar.cshtml" />

<!-- Main Content -->
<section class="content">
    <div class="body_scroll">

        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>@ViewBag.Title</h2>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
            </div>
            
        </div>
        @RenderBody()
    </div>
</section>
@section Scripts
{
    @RenderSection("Scripts", required: false)
}