@model Generics.DataModels.AdminModels.Project
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Project</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.ProjectDictionary)
    @ButtonHelper.EditSmall("/Project/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/Project/Index")
</div>