@model Generics.DataModels.AdminModels.ProjectMembers
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Project Members</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.ProjectMembersDictionary)
    @ButtonHelper.EditSmall("/ProjectMembers/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/ProjectMembers/Index")
</div>