@model Generics.DataModels.AdminModels.ProjectMemberTypes
@{
    ViewData["Title"] = "Delete";
    Layout = "_DetailLayout";
}
<h1>Details</h1>
<div>
    <h4>Project Member Type</h4>
    <hr />
    @CHtmlHelper.Dl(ViewBag.ProjectMemberTypeDictionary)
    @ButtonHelper.EditSmall("/ProjectMemberType/Edit/" + Model.Id)
    @ButtonHelper.BackToListSmall("/ProjectMemberType/Index")
</div>